@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
}

#titulo {
  color: #ea5b5b;
  text-align: center;
  margin: 1em;
}

#subtitulo {
  color: #ea5b5b;
  text-align: center;
  margin: 1em;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1em;
  padding: 10px;
  border-radius: 0 15px 0 15px;
  box-shadow: 2px 2px 15px 2px #ea5b5b30;
  width: 300px;
  height: 250px;
}

form input {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ea5b5b;
}

label {
  color: #ea5b5b;
}

.contador {
  color: #ea5b5b;
  margin: 10px;
}